/* Import Roboto from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');

body.light {
  --text-color: #181a1b;
  --background-color: #fff;
}

body.dark {
  --text-color: #fff;
  --background-color: #181a1b;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  text-decoration: none;
  width: 100%;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--background-color);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3em;
  margin: 0;
  padding: 13px;
  background: radial-gradient(circle, red, black);
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 550;
  letter-spacing: 1px;
  font-family: 'Edu SA Beginner', cursive;
}

.theme-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #d32323;
  color: #fff;
  font-size: 1rem;
  font-weight: 550;
  letter-spacing: 1px;
  cursor: pointer;
}
