/* Import Roboto from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif; /* Agora Roboto é a fonte padrão */
  text-decoration: none;
  width: 100%; /* Garante que o corpo não exceda os limites da janela */
  overflow-x: hidden; /* Esconde qualquer conteúdo que ultrapasse o limite horizontal */
}



/* Define styles for your app */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 3em;
  margin: 0;
  padding: 13px;
  background-color: #d32323;
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 550;
  letter-spacing: 1px;
  font-family: 'Edu SA Beginner', cursive;
}

/* searchbar */


